main{
    margin: auto;
    margin-top: 10vh;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.750);
    border-radius: 20px;
}
#admin_links a {
    display: block;
    font-size: 1.5em;
    color: rgb(151, 151, 151);
    text-decoration: none;
}
#admin_links a:hover {
    color: #00d9ff;
    text-decoration: underline;
}

#admin_links {
text-align: center;
}